.container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    /* align-items: end; */
}

.top_btn {
    display: flex;
    gap: 30px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact_form form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_control input {
    height: 38px;
    padding: 0 8px;
}

.form_control textarea {
    padding: 10px;
}

.form_control label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
    font-size: 14px;
}

.submit_btn {
    display: flex;
    justify-content: flex-end;
}

.contact_image img {
    height: 460px;
}